/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');





/* root decleration */

:root {
    /* colors */
    --color-background-light: #e1e1e1;

    --color-font: #000; 

    /* fonts */
    --font-h1: 'Almarai', sans-serif;
}





/* general */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-h1);
}


body {
    background: var(--color-background-light);
}





/* header */

.header-nav {
    min-height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.header-nav-logo {
    margin: 0 0 0 2vw;
}


.header-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8vw;
    margin: 0 3rem 0 0;
}


.header-nav-item {
    list-style: none;
}


.header-nav-link, .header-nav-logo-link {
    text-decoration: none;
    color: var(--color-font);
}


.hamburger {
    display: none;
    cursor: pointer;
    margin: 0 2vw 0 0;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5 auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-font);
}


@media (max-width: 500px) {
    .hamburger {
        display: block;
        position: relative;
        z-index: 9999;
    }


    html, body {
        width: 100%;
        overflow-x: hidden;
    }


    .header-nav-menu {
        margin: 0;
        position: fixed;
        inset: 0;
        background-color: var(--color-background-light);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(100vw);
        transition: all 500ms ease-in-out;
    }   
}

.on {
    transform: translateX(0);
}





/* main */

main {
    width: 90%;
    margin: 0 auto;
}


.main-hero-h1 {
    font-family: var(--font-h1);
    font-size: min(6rem, 10vw);
    letter-spacing: 1px;
    margin: 3vw 0 10rem;
}


.main-design {
    display: flex;
    justify-content: space-between;
}


.main-design-left {
    border-bottom: 2px solid var(--color-font);
    border-left: 2px solid var(--color-font);
    border-bottom-left-radius: 10px;
    width: 30vw;
    height: 10vw;
}


.main-design-right {
    border-bottom: 2px solid var(--color-font);
    border-right: 2px solid var(--color-font);
    border-bottom-right-radius: 10px;
    width: 10vw;
    height: 10vw;
}


@media (max-width: 500px) {
    .main-hero-h1 {
        color: #000;
    }
}






























/*
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 7rem;
}


.header-logo {
    margin: 0 0 0 5vw;
}


.header-links {
    display: flex;
    flex-direction: row;
    width: min(30rem, 30vw);
    justify-content: space-around;
}


.header-link {
    font-size: 1.2rem;
}


.burger {

}


.burger-lines {
    width: 10px;
    height: 2px;
    background-color: var(--color-font);
}
}*/